<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Token Records</title>
    <link rel="stylesheet" href="../../static\css\style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400&family=Play:wght@400;700&family=Roboto:wght@400;500&family=Space+Grotesk:wght@500&display=swap" rel="stylesheet">
    <script src="static\js\script.js"></script>
</head>
<body>

<!-- ############################################################ Top Navbar ############################################################ -->

    <div class = "top_navbar_box fixed-top pt-3 pb-1 px-4 offset-2">
        <div class = "top_navbar d-flex justify-content-between">
            <div class = "solana_ticker">

                <!-- TradingView Widget BEGIN -->

                <div class="tradingview-widget-container ml-4">
                    <div class="tradingview-widget-container__widget"></div>
                        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-single-quote.js" async>
                        {
                        "symbol": "FTX:SOLUSD",
                        "width": 240,
                        "colorTheme": "dark",
                        "isTransparent": true,
                        "locale": "en"
                        }
                        </script>
                </div>
            </div>

            <!-- Default Links Top Navbar -->

            <div class = "navbar_links d-flex align-items-center">
                <h5 class = "font-weight-bold text-light m-5"><a class = "text-light text-decoration-none" href = "https://magiceden.io/" target="_blank">Magic Eden</a></h3>
                <h5 class = "font-weight-bold text-light m-5"><a class = "text-light text-decoration-none" href = "https://solanart.io/" target="_blank">Solanart</a></h3>
                <h5 class = "font-weight-bold text-light m-5"><a class = "text-light text-decoration-none" href = "https://opensea.io/" target="_blank">OpenSea</a></h3>
                <h5 class = "font-weight-bold text-light m-5"><a class = "text-light text-decoration-none" href = "https://www.solsniper.xyz/" target="_blank">Sol Sniper</a></h3>
            </div>
        </div>
    </div>

<!--############################################################ Sidebar ############################################################ -->

    <div class = "sidebar position-fixed col-2 text-light text-center p-2">

        <!-- App Name -->

        <div class = "app_name_border m-2">
            <div class = "app_name text-center font-weight-bold p-1 py-2"><a class = "text-decoration-none" href = "/collection">
                <h1 class = "token_text"><span style = "color: #A24CE5">Token </span></h1>
                <h1 class = "records_text"><span style = "color: #02FFB3">Records</span></h1>
            </a></div>
        </div>

        <!-- Routes Pages-->

        <div class = "side_bar_route_box d-flex flex-column justify-content-between">
            <div>
                <div class = "side_bar_collection pt-5 px-4"><a class = "text-decoration-none text-light" href = "/collection">
                    <h5 class = "font-weight-bold p-3">Collection</h5>
                </a></div>
                <div class = "side_bar_sold px-4"><a class = "text-decoration-none text-light" href = "/sold">
                    <h5 class = "font-weight-bold p-3">Sold</h5>
                </a></div>
                <div class = "side_bar_watchlist px-4"><a class = "text-decoration-none text-light" href = "/watchlist">
                    <h5 class = "sidebar_highlight_box font-weight-bold p-3">Watchlist</h5>
                </a></div>
                <div class = "side_bar_resources px-2"><a class = "text-decoration-none text-light" href = "/resources">
                    <h5 class = "font-weight-bold p-3">Resources</h5>
                </a></div>
                <div class = "side_bar_solana_chart px-2"><a class = "text-decoration-none text-light" href = "/solana_chart">
                    <h5 class = "font-weight-bold py-3">Solana Chart</h5>
                </a></div>
            </div>
            <div class ="logout_button_box">
                <a href="/logout" class = "logout_button text-light text-decoration-none">Logout</a>
            </div>
        </div>
    </div>

<!-- ######################################################### Main Content ############################################################ -->

    <div class = "container col-10 mr-0 p-0">
        <div class = "main_content">
            <div>
                <p class = "collection_title text-light text-center font-weight-bold mb-0 pt-5">Watchlist</p>
            </div>
            <div class = "collection_new_form_box_main_div d-flex justify-content-center m-4">
                <div class = "collection_new_form_box_sub_div col-8 text-light pt-2">
                    <h2 class = "collection_new_form_subtitle text-center mt-3"><span style = "color: #02FFB3">Enter Token Information</span></h2>
                    <form action="/process_new_watchlist" method="POST" enctype="multipart/form-data">
                        <div class = "flash_error">
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <p>{{message}}</p>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                        </div>

                        <!-- Top Section-->

                        <div class = "collection_new_form_purple_separator m-4 px-5 py-4">
                            <div class = "required_header pl-1">
                                <h4 class = "text_required_optional"><span style = "color: #02FFB3">Required</span></h4>
                            </div>
                            <div>
                                <input type = "hidden" name = "status" value = "2">
                            </div>
                            <div class = "user_input p-1">
                                <label>Collection Name</label>
                                <input class="form-control" type="text" name="collection_name">
                            </div>
                            <div class = "user_input p-1">
                                <label>Token Number</label>
                                <input class="form-control" type="text" name="token_number">
                            </div>
                            <div class = "user_input p-1">
                                <label>Upload Image</label>
                                <input class="form-control" type="file" name="image">
                            </div>
                            <div class = "user_input p-1">
                                <label>Price by Owner</label>
                                <div class = "d-flex">
                                    <input class="form-control input_box_xsmall" type="text" name="sale_price">
                                    <h4 class = "mt-2 mb-0 mx-2"><span style = "color: #02FFB3">SOL</span></h4>
                                </div>
                            </div>
                        </div>

                        <!-- Middle Section-->

                        <div = class = "collection_new_form_purple_separator mt-4 mx-4 mb-0 px-5 py-4">
                            <div class = "required_header pl-1">
                                <h4><span style = "color: #02FFB3">Optional</span></h4>
                            </div>
                            <div class = "row justify-content-between px-3">
                                <div class = "user_input p-1">
                                    <label>My Bid</label>
                                    <div class = "d-flex">
                                        <input class="form-control input_box_xsmall" type="text" name="bid_price" value = "0">
                                        <h4 class = "mt-2 mb-0 mx-2"><span style = "color: #02FFB3">SOL</span></h4>
                                    </div>
                                </div>
                                <div class = "user_input p-1">
                                    <label>Trade Fees</label>
                                    <div class = "d-flex">
                                        <input class="form-control input_box_xsmall" type="text" name="trade_fees" value = "0">
                                        <h4 class = "mt-2 mb-0 mx-2">%</h4>
                                    </div>
                                </div>
                                <div class = "user_input p-1">
                                    <label>Staking Feature?</label>
                                    <div class = "form_check pl-4">
                                        <input class="form-check-input" type="radio" name="has_staking" id = "has_staking0" value="0" checked>
                                        <label class = "form-check-label" for = "has_staking0">No</label>
                                    </div>
                                    <div class = "form_check  pl-4">
                                        <input class="form-check-input" type="radio" name="has_staking" id = "has_staking1" value="1">
                                        <label class = "form-check-label" for = "has_staking1">Yes</label>
                                    </div>
                                </div>
                            </div>
                            <div class = "user_input p-1">
                                <label>Mint Address for Metadata</label>
                                <input class="form-control" type="text" name="mint_address">
                            </div>
                            <div class = "user_input p-1">
                                <label>Link to Sale</label>
                                <input class="form-control" type="text" name="link_to_sale">
                            </div>
                            <div class = "user_input p-1">
                                <label>Link to Collection Page</label>
                                <input class="form-control" type="text" name="collection_link_to_exchange">
                            </div>
                            <div class = "user_input p-1">
                                <label>Notes</label>
                                <input class="form-control" type="text" name="notes">
                            </div>
                        </div>
                        <div class = "text-center m-4">
                            <button style = "border: none; background: none; outline: none;"><a class="new_submit_buttons text-light text-decoration-none">Submit</a></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>