/* Global */

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #0F001B !important;
}

/***************************************************Top Navbar **********************************************/

.top_navbar_box {
    background-color: #0F001B;
}

.top_navbar {
    font-family: "Play";
    background-image: linear-gradient(to right, #3C316C 5%, #221F45 60.83%);
    border-radius: 50px;
    height: 90px;
}

.solana_ticker {
    background-color: transparent;
}

.solana_ticker span {
    display: none;
}

/*************************************************** Logo **************************************************/

.app_name {
    border-radius: 35px;
    background-image: linear-gradient(150deg, #443B7A 1%, #220F4B 40%);
}

.app_name_border {
    border-radius: 35px;
    padding: 1px;
    background-image: linear-gradient(to bottom, #02FFB3 1%, #B95FFF 50%);
    box-shadow: 2px 3px 7px black;
}

.token_text {
    font-size: 36px;
    line-height: .8em;
    font-family: "Play";
    font-weight: 700;
}

.records_text {
    font-size: 36px;
    line-height: .8em;
    font-family: "Play";
    font-weight: 700;
}

/***************************************************Sidebar *********************************************/

.sidebar {
    background-image: linear-gradient(180deg, #221F45 58.98%, #463A7B 100%);
    height: 100vh;
    padding-top: 80px;
    font-family: "Play";
}

.sidebar_highlight_box {
    border-radius: 40px;
    background-image: linear-gradient(to right, #A24CE5 10%, rgba(0, 255, 178, 0.6) 90%);
    box-shadow: 2px 3px 5px black;
}

.side_bar_route_box {
    height: 80vh;
}

.logout_button {
    font-size: 18px;
}

/*************************************************** Main Container*********************************************/

.container {
    margin: 0px;
    font-family: "Play";
}

.add_new_box {
    font-size: 18px;
}

.main_content {
    padding-top: 100px;
}

.main_row {
    height: 650px;
}

.click_to_view {
    border-radius: 15px;
    width: 220px !important;
    height: 220px !important;
}

.click_to_view_info_box {
    font-family: "Kanit" !important;
    background-color: #1D1A3F;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 110px;
}

.click_to_view_content {
    font-weight: 200;
}

.click_to_view_info_box_background {
    background-color: #1D1A3F;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/************************************************************* View *********************************************/

.view_main_div {
    background-image: linear-gradient(150deg, #281E54 20%, #200D49 60%);
    border-radius: 40px;
    font-family: "Kanit";
}

.nft_thumb {
    background-image: linear-gradient(20deg, #37366B 20%, #3B265C 55%);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.44);
    width: 370px;
    height: 370px;
}

.img {
    backface-visibility: hidden;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.view_nft_image_info_div {
    background-image: linear-gradient(150deg, #37366B 20%, #3B265C 90%);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.44);
    width: 370px;
    height: 290px;
}

.view_right_info_div {
    background-image: linear-gradient(150deg, #37366B 20%, #3B265C 90%);
    border-radius: 25px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.44);
    width: 370px;
    height: 370px;
}

.view_right_info_div_sold {
    background-image: linear-gradient(150deg, #37366B 20%, #3B265C 90%);
    border-radius: 25px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.44);
    width: 370px;
    height: 330px;
}

.view_calculator {
    background-image: linear-gradient(150deg, #37366B 20%, #3B265C 90%);
    border-radius: 25px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.44);
    width: 370px;
    height: 265px;
}

.view_calculator_for_sale_main {
    background-color: #3B5173;
    border-radius: 15px;
    height: 155px;
}

.view_returns_sold {
    background-image: linear-gradient(150deg, #37366B 20%, #3B265C 90%);
    border-radius: 25px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.44);
    width: 370px;
    height: 305px;
}

.view_trade_fees_sold {
    opacity: 50%;
}

.view_profit_sold {
    background-color: #3B5173;
    border-radius: 15px;
    height: 55px;
}

.view_calculator_types {
    height: 20px;
}

.view_note_space {
    background-color: #3B5173;
    border-radius: 15px;
    height: 70px;
}

.view_watchlist_link_to_sale {
    background-image: linear-gradient(150deg, #37366B 20%, #3B265C 90%);
    border-radius: 25px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.44);
    width: 370px;
    height: 75px;
}

.view_watchlist_add_to_collection {
    background-image: linear-gradient(150deg, #37366B 20%, #3B265C 90%);
    border-radius: 25px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.44);
    width: 370px;
    height: 167px;
}

.sold_button-size {
    font-size: 16px;
}

.font_opacity {
    opacity: 0.4;
}

/***************************************************** New *********************************************************/


.input_box_xsmall {
    width: 80px !important;
}

.input_box_small {
    width: 180px !important;
}

.new_submit_buttons {
    font-size: 32px;
    background-color: #A24CE5;
    background-image: linear-gradient(to right, #9B5EFF 10%, rgba(136, 43, 255, 1) 90%);
    box-shadow: 2px 3px 5px black;
    border-radius: 15px;
    padding: 1px 20px;
}

/***************************************************** Index Page *****************************************************/

.index_main_div {
    margin-top: 100px;
}

.index_title {
    font-size: 84px;
}

.index_buttons {
    font-size: 32px;
}

.index_form_box {
    background-image: linear-gradient(150deg, #37366B 20%, #3B265C 90%);
    border-radius: 15px;
}

/***************************************************** Collection Page *****************************************************/

.collection_title {
    font-size: 48px;
}

/********** Collection New Form Page **********/

.collection_new_form_box_sub_div {
    background-image: linear-gradient(150deg, #281E54 20%, #200D49 60%);
    border-radius: 30px;
    font-family: "Kanit" !important;
}

.collection_new_form_purple_separator {
    background-image: linear-gradient(150deg, #37366B 20%, #3B265C 90%);
    border-radius: 30px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.44);
    font-family: "Kanit" !important;
}

.text_required_optional {
    font-weight: 600;
}

/***************************************************** Resources *******************************************************/

.resource_links_form_box {
    height: 80vh;
    background-image: linear-gradient(150deg, #281E54 20%, #200D49 60%);
    border-radius: 30px;
}

/***************************************************** Solana Chart Page **************************************************/

.tradingview-widget-container {
    height: 80vh;
}

#tradingview_c6882 {
    height: 67vh;
}
