<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Token Records</title>
    <link rel="stylesheet" href="../../static\css\style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400&family=Play:wght@400;700&family=Roboto:wght@400;500&family=Space+Grotesk:wght@500&display=swap" rel="stylesheet">
    <!-- <script src="static\js\script.js"></script> -->
    <script src="collection_script.js"></script>
</head>
<body>

<!-- ############################################################ Top Navbar ############################################################ -->

    <div class = "top_navbar_box fixed-top pt-3 pb-1 px-4 offset-2">
        <div class = "top_navbar d-flex justify-content-between">
            <div class = "solana_ticker">

                <!-- TradingView Widget BEGIN -->

                <div class="tradingview-widget-container ml-4">
                    <div class="tradingview-widget-container__widget"></div>
                        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-single-quote.js" async>
                        {
                        "symbol": "FTX:SOLUSD",
                        "width": 240,
                        "colorTheme": "dark",
                        "isTransparent": true,
                        "locale": "en"
                        }
                        </script>
                </div>
            </div>

            <!-- Default Links Top Navbar -->

            <div class = "navbar_links d-flex align-items-center">
                <h5 class = "font-weight-bold text-light m-5"><a class = "text-light text-decoration-none" href = "https://magiceden.io/" target="_blank">Magic Eden</a></h3>
                <h5 class = "font-weight-bold text-light m-5"><a class = "text-light text-decoration-none" href = "https://solanart.io/" target="_blank">Solanart</a></h3>
                <h5 class = "font-weight-bold text-light m-5"><a class = "text-light text-decoration-none" href = "https://opensea.io/" target="_blank">OpenSea</a></h3>
                <h5 class = "font-weight-bold text-light m-5"><a class = "text-light text-decoration-none" href = "https://sols.watch/" target="_blank">Sols Watch</a></h3>
            </div>
        </div>
    </div>

<!--############################################################ Sidebar ############################################################ -->

    <div class = "sidebar position-fixed col-2 text-light text-center p-2">

        <!-- App Name -->

        <div class = "app_name_border m-2">
            <div class = "app_name text-center font-weight-bold p-1 py-2"><a class = "text-decoration-none" href = "/collection">
                <h1 class = "token_text"><span style = "color: #A24CE5">Token </span></h1>
                <h1 class = "records_text"><span style = "color: #02FFB3">Records</span></h1>
            </a></div>
        </div>

        <!-- Routes Pages-->

        <div class = "side_bar_route_box d-flex flex-column justify-content-between">
            <div>
                <div class = "side_bar_collection pt-5 px-4"><a class = "text-decoration-none text-light" href = "/collection">
                    <h5 class = "sidebar_highlight_box font-weight-bold p-3">Collection</h5>
                </a></div>
                <div class = "side_bar_sold px-4"><a class = "text-decoration-none text-light" href = "/sold">
                    <h5 class = "font-weight-bold p-3">Sold</h5>
                </a></div>
                <div class = "side_bar_watchlist px-2"><a class = "text-decoration-none text-light" href = "/watchlist">
                    <h5 class = "font-weight-bold p-3">Watchlist</h5>
                </a></div>
                <div class = "side_bar_resources px-2"><a class = "text-decoration-none text-light" href = "/resources">
                    <h5 class = "font-weight-bold p-3">Resources</h5>
                </a></div>
                <div class = "side_bar_solana_chart px-2"><a class = "text-decoration-none text-light" href = "/solana_chart">
                    <h5 class = "font-weight-bold py-3">Solana Chart</h5>
                </a></div>
            </div>
            <div class ="logout_button_box">
                <a href="/logout" class = "logout_button text-light text-decoration-none">Logout</a>
            </div>
        </div>
    </div>

<!-- ######################################################### Main Content ############################################################ -->

    <div class = "container col-10 mr-0 p-0">
        <div class = "main_content container d-inline_flex justify-content-center">
            <div class = "row justify-content-center">
                <p class = "collection_title text-light font-weight-bold mb-0 pt-5">Collection</p>
            </div>
            <div class = "view_main_div_div d-flex justify-content-center">
                <div class = "view_main_div row col-10 justify-content-around m-4 pb-3">

                <!-- Left column div box -->

                    <div class = "view_main_col m-2 mb-3">
                        <div class = "view_nft_image_div mx-2 mt-4">

                            <div class = "nft_thumb d-flex align-items-center justify-content-center"><img class = "img" src = "{{ image }}">
                            </div>
                        </div>
                        <div class = "view_nft_image_info_div d-flex flex-column justify-content-between text-center text-light mx-2">
                            <div class = "view_nft_image_info_div_top">
                                <div class = "view_token_number mx-4 pt-4">
                                    <h2>#{{nft.token_number}}</h2>
                                </div>
                                <div class = "view_project_site m-3">
                                    <h5><a class = "text-decoration-none text-light" href = "{{ nft.collection_link_to_exchange }}" target="_blank">View on Exchange</a></h5>
                                </div>
                                <div class = "view_edit m-3">
                                    <h5><a href = "/collection/edit/{{nft.id}}" class = "text-decoration-none"><span style = "color: #02FFB3">Edit</span></a></h5>
                                </div>
                            </div>
                            <div class = "view_delete_sold d-flex justify-content-between m-2">
                                <div class = "mx-3">
                                    <h6><a href="/destroy/nft/{{nft.id}}" class = "text-danger text-decoration-none">Delete</a></h6>
                                </div>
                                <div class = "mx-3">
                                    <h6><a href = "/sold/sold_from_collection/{{nft.id}}" class="sold_button_size text-light text-decoration-none" onclick = "alert('Congratulations! Once confirmed, this NFT will be removed from the Collection page.')">Sold</a></h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Right column div box -->

                    <div class = "view_main_col text-light m-2 mb-3">
                        <div class = "view_right_info_div d-flex flex-column justify-content-between pb-1 mx-2 mt-4">
                            <div class = "top_half">
                                <div class = "view_collection_name text-center m-2 pt-3 pb-2">
                                    <h2><span style = "color: #02FFB3">{{nft.collection_name}}</span></h2>
                                </div>
                                <div class = "view__purchase_price d-flex justify-content-between px-4">
                                    <p>Purchase Price</p>
                                    <div class = "view__purchase_price_value d-flex">
                                        <h4 class = "px-2">{{nft.purchase_price}}</h4>
                                        <h4><span style = "color: #02FFB3">SOL</span></h4>
                                    </div>
                                </div>
                                <div class = "view_purchase_date d-flex justify-content-between px-4">
                                    <p>Date Purchased</p>
                                    <p>{{nft.date_of_purchase}}</p>
                                </div>
                                <div class = "view_staking_option d-flex justify-content-between px-4">
                                    <p>Staking</p>
                                    {% if nft.has_staking == 0 %}
                                        <p>None</p>
                                    {% else %}
                                        <p>Yes</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class = "view_note_div mb-2">
                                <h6 class = "view_note_text text-light px-4">Notes</h6>
                                <div class = "view_note_space m-2 mx-3 px-3 py-2">
                                    <p>{{nft.notes}}</p>
                                </div>
                            </div>
                        </div>

<!--#################################################### Calculator ###############################################################-->

                        <div class = "view_calculator mx-2 mt-4 px-3">
                            <div class = "view_calculator_text text-center pt-3">
                                <h3><span style = "color: #02FFB3">Calculator</span></h3>
                            </div>

                        <!--------- Not For Sale ----------->

                            <!-- For Sale Calc-->

                            {% if nft.is_for_sale == 0 %}
                                <div class = "view_calculator_for_sale_types d-flex justify-content-between">
                                    <button class = "mb-0 px-5 pb-1 text-decoration-none" onclick = "forSaleCalc1()" style = "border: none; background: none; outline: none;"><a class="text-light text-decoration-none"><span  id = "forSaleColor" style = "color: #02FFB3">For Sale</span></a></button>
                                    <button class = "mb-0 px-5 pb-1 text-decoration-none" onclick = "floorCalc1()" style = "border: none; background: none; outline: none;"><a class="text-light text-decoration-none"><span  id = "floorColor">Floor</span></a></button>
                                </div>

                                    <!-- Floor Calc-->

                                <div id = "floorCalculator" style = "display: none">
                                    <div class = "border_line border-top mx-4"></div>
                                    <div class = "view_sale_price d-flex justify-content-between px-4 pt-3">
                                        <h6>Floor Price</h6>
                                        {% if floor == -1 %}
                                            <h6>Metadata missing<span style = "color: #02FFB3"> SOL</span></h6>
                                        {% else %}
                                            <h6>{{floor}}<span style = "color: #02FFB3"> SOL</span></h6>
                                        {% endif %}
                                    </div>
                                    <div class = "view_purchase_price d-flex justify-content-between px-4">
                                        <h6>Purchase Price</h6>
                                        <h6>-{{nft.purchase_price}}<span style = "color: #02FFB3"> SOL</span></h6>
                                    </div>
                                    <div class = "view_trade_fees_sold d-flex justify-content-between px-4">
                                        <h7>Fees</h7>
                                        <h7>-{{nft.trade_fees}}<span style = "color: #02FFB3"> %</span></h7>
                                    </div>
                                    <div class = "view_profit_sold mt-2 mx-3">
                                        <div class = "d-flex justify-content-between px-3 py-3">
                                            {% if floor == -1 %}
                                                <div>Metadata missing</div>
                                            {% else %}
                                                {% if floor > nft.purchase_price %}
                                                <h5 class = "profit_text">Potential Profit</h5>
                                                <h5>+{{'%0.2f' % (floor - nft.purchase_price - (floor * (nft.trade_fees/100)))}}<span style = "color: #02FFB3"> SOL</span></h5>
                                                {% else %}
                                                <h5>Potential Loss</h5>
                                                <h5>{{'%0.2f' % (floor - nft.purchase_price - (floor * (nft.trade_fees/100)))}}<span style = "color: #02FFB3"> SOL</span></h5>

                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                <div id = "forSaleCalculator" class = "view_calculator_for_sale_main mt-1 mx-3 pt-3">
                                    <div class = "view_calculator_unlisted text-center pt-5">Not Listed</div>
                                </div>
                            {% endif %}

                        <!--------- Is For Sale ----------->

                            {% if nft.is_for_sale == 1 %}
                                <div class = "view_calculator_for_sale_types d-flex justify-content-between">
                                    <button class = "mb-0 px-5 pb-1 text-decoration-none" onclick = "forSaleCalc1()" style = "border: none; background: none; outline: none;"><a class="text-light text-decoration-none"><span  id = "forSaleColor" style = "color: #02FFB3">For Sale</span></a></button>
                                    <button class = "mb-0 px-5 pb-1 text-decoration-none" onclick = "floorCalc1()" style = "border: none; background: none; outline: none;"><a class="text-light text-decoration-none"><span  id = "floorColor">Floor</span></a></button>
                                </div>

                                <!-- For Sale Calc-->

                                <div id = "forSaleCalculator">
                                    <div class = "border_line border-top mx-4"></div>
                                    <div class = "view_sale_price d-flex justify-content-between px-4 pt-3">
                                        <h6>Sale Price</h6>
                                        <h6>{{nft.sale_price}}<span style = "color: #02FFB3"> SOL</span></h6>
                                    </div>
                                    <div class = "view_purchase_price d-flex justify-content-between px-4">
                                        <h6>Purchase Price</h6>
                                        <h6>-{{nft.purchase_price}}<span style = "color: #02FFB3"> SOL</span></h6>
                                    </div>
                                    <div class = "view_trade_fees_sold d-flex justify-content-between px-4">
                                        <h7>Fees</h7>
                                        <h7>-{{nft.trade_fees}}<span style = "color: #02FFB3"> %</span></h7>
                                    </div>
                                    <div class = "view_profit_sold mt-2 mx-3">
                                        <div class = "d-flex justify-content-between px-3 py-3">
                                            {% if nft.sale_price > nft.purchase_price %}
                                            <h5 class = "profit_text">Expected Profit</h5>
                                            <h5>+{{'%0.2f' % (nft.sale_price - nft.purchase_price - (nft.sale_price * (nft.trade_fees/100)))}}<span style = "color: #02FFB3"> SOL</span></h5>
                                            {% else %}
                                            <h5>Expected Loss</h5>
                                            <h5>{{'%0.2f' % (nft.sale_price - nft.purchase_price - (nft.sale_price * (nft.trade_fees/100)))}}<span style = "color: #02FFB3"> SOL</span></h5>

                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                                <!-- Floor Calc-->

                                <div id = "floorCalculator" style = "display: none">
                                    <div class = "border_line border-top mx-4"></div>
                                    <div class = "view_sale_price d-flex justify-content-between px-4 pt-3">
                                        <h6>Floor Price</h6>
                                        <h6>{{floor}}<span style = "color: #02FFB3"> SOL</span></h6>
                                    </div>
                                    <div class = "view_purchase_price d-flex justify-content-between px-4">
                                        <h6>Purchase Price</h6>
                                        <h6>-{{nft.purchase_price}}<span style = "color: #02FFB3"> SOL</span></h6>
                                    </div>
                                    <div class = "view_trade_fees_sold d-flex justify-content-between px-4">
                                        <h7>Fees</h7>
                                        <h7>-{{nft.trade_fees}}<span style = "color: #02FFB3"> %</span></h7>
                                    </div>
                                    <div class = "view_profit_sold mt-2 mx-3">
                                        <div class = "d-flex justify-content-between px-3 py-3">
                                            {% if floor > nft.purchase_price %}
                                            <h5 class = "profit_text">Potential Profit</h5>
                                            <h5>+{{'%0.2f' % (floor - nft.purchase_price - (floor * (nft.trade_fees/100)))}}<span style = "color: #02FFB3"> SOL</span></h5>
                                            {% else %}
                                            <h5>Potential Loss</h5>
                                            <h5>{{'%0.2f' % (floor - nft.purchase_price - (floor * (nft.trade_fees/100)))}}<span style = "color: #02FFB3"> SOL</span></h5>

                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>





                        <!-- <div class = "view_calculator mx-2 mt-4">
                            
                            <div class = "view_calculator_text text-center pt-2">
                                <h4><span style = "color: #02FFB3">Calculator</span></h4>
                            </div> -->

                        <!--############################### For Sale Calculator #########################-->

                        
                            <!-- <div class = "view_calculator_for_sale_types d-flex justify-content-around">
                                <p>For Sale</p>
                                <p class = "font_opacity">Floor</p>
                            </div> -->
                            <!-- <div class = "view_calculator_for_sale_main mt-1 mx-4">
                                <div class = "view_calculator_unlisted text-center pt-5">Not currently listed</div>
                            </div> -->

                            <!--############################### For Sale Calculator #########################-->
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    function forSaleCalc1() {
        var x = document.getElementById("forSaleCalculator");
        var floor = document.getElementById("floorCalculator");
        var floorColor = document.getElementById("floorColor")
        var forSaleColor = document.getElementById("forSaleColor")
        if (x.style.display === "none") {
            x.style.display = "block";
            floor.style.display = "none";
            floorColor.style.color = "white";
            forSaleColor.style.color = "#02FFB3";
        }
    }

    function floorCalc1() {
        var x = document.getElementById("floorCalculator");
        var forSale = document.getElementById("forSaleCalculator");
        var floorColor = document.getElementById("floorColor")
        var forSaleColor = document.getElementById("forSaleColor")
        if (x.style.display === "none") {
            x.style.display = "block";
            forSale.style.display = "none";
            floorColor.style.color = "#02FFB3";
            forSaleColor.style.color = "white";
        }
    }

</script>

</html>